@import "~bootstrap/scss/bootstrap";
@import "_partials/reset.scss";

body {
    header {
        .header-top {
            background-color: #0282f9;
            font-size: 12px;

            ul {
                padding: 5px 0;
            }
        }

        .navbar {
            background-color: #ffff;
            padding: 10px 0;

            .cont-logo {
                height: 80px;
                width: 80px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            a {
                color: #464646;

                &:hover {
                    color: #0282f9;
                    cursor: pointer;
                }
            }
            .search-container {
                display: flex;
                align-items: center;
                border-bottom: 3px solid #0282f9;
                overflow: hidden;
            }

            .search-input {
                flex: 1;
                padding: 10px;
                border: none;
                outline: none;
                background: transparent;
                text-align: end;
                color: #383838;
            }

            .search-button {
                background-color: #ffff;
                color: #383838;
                border: none;
                cursor: pointer;
            }

            .search-button i {
                margin-right: 5px;
            }
        }

        .jumbotron {
            .cont-jumbo {
                height: 400px;
                width: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: top;
                }
            }
        }
    }

    main {
        background-color: #1c1c1c;
        color: #ffff;
        padding: 20px 0 0 0;

        .comics {
            position: relative;

            .cont-img {
                height: 200px;
                width: 200px;
                overflow: hidden;
                margin: 50px 0 20px;

                img {
                    width: 100%;
                    object-fit: contain;
                }
            }

            h5 {
                font-size: 16px;
            }

            button {
                background-color: #0282f9;
                color: white;
                padding: 5px 50px;
                border: none;
                text-transform: uppercase;
                font-weight: 500;
                margin-bottom: 20px;
                cursor: pointer;
            }

            .current-series {
                position: absolute;
                left: 0;
                top: -40px;
                font-size: 25px;
                padding: 5px 30px;
            }
        }

        .shop {
            height: 17vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: #0282f9;

            ul {
                display: flex;
                justify-content: space-between;
                list-style-type: none;

                li {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    .cont-shop-icons {
                        height: 60px;

                        img {
                            height: 100%;
                            object-fit: contain;
                            aspect-ratio: 1;
                        }
                    }

                    a {
                        color: #fffdfe;
                        text-decoration: none;
                        text-transform: uppercase;
                        letter-spacing: 0.5px;
                    }
                }
            }
        }
    }

    footer {
        background-color: #303030;

        .footer-top {
            background-image: url(../img/footer-bg.jpg);
            height: 42vh;
            color: #fffdfe;
            overflow: hidden;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 200px;

            .cont-left {
                padding: 20px 0;

                .cont-list {
                    display: flex;
                    gap: 30px;

                    ul {
                        list-style-type: none;
                        letter-spacing: 0.5px;
                        margin-bottom: 20px;
                        padding: 0;

                        li {
                            &:first-child {
                                margin-bottom: 12px;
                            }

                            &:first-child a {
                                color: #fffdfe;
                                text-transform: uppercase;
                                font-size: 18px;
                            }

                            a {
                                color: #959595;
                                text-decoration: none;
                                font-size: 12px;
                            }
                        }
                    }
                }
                p {
                    color: #959595;
                    text-decoration: none;
                    font-size: 12px;
                }
            }
        }

        .footer-bottom {
            padding: 30px 0;

            .footer-sx {
                button {
                    background-color: transparent;
                    border: 2px solid #0282f9;
                    text-transform: uppercase;
                    color: #ffff;
                    padding: 10px 30px;
                    font-weight: 600;
                }
            }

            .footer-dx {
                span {
                    text-transform: uppercase;
                    font-size: 20px;
                    font-weight: 600;
                }
            }
        }
    }
}
