@import "~bootstrap/scss/bootstrap";
@import "_partials/reset.scss";

body {
    background-color: rgb(172, 172, 172);

    header {
        .header-top {
            background-color: #0282f9;
            font-size: 12px;

            ul {
                padding: 5px 0;
            }
        }
    }
}
